header {
    height: 345px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
}

header p {
    text-align: center;
    line-height: 18px;
    opacity: 0.4;
 }

#home img {
    width: 45%;
    height: 24px;
    margin-left: 27%;
    margin-top: 15px;
}

    
form {
    width: 100%;
    height: 56px;
    padding: 5px 0px;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}
    
form input {
	width: 100%;
	height: 45px;
	border-left: none;
	border-right: none;
	border-top-style: solid;
	border-bottom: none;
	cursor: pointer;
}
    
label {
    height: 16px;
    position: absolute;
    left: 64px;
    cursor: pointer;
}
label img {
    height: 15px;
}
    
input, ::placeholder {
    font-size: medium; 
    text-align: center;
    background: #e2e2e2;
}
    
h1 {
    display: flex;
    text-align: center;
    font-size: x-large;
    line-height: 30px;
    margin: 25px 17px 10px;
}
header button {
	width: 65%;
	height: 45px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin: 22px 55px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
	background: linear-gradient(176deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
}
header button:hover {
    background: linear-gradient(176deg, rgb(173, 120, 236) 0%, rgb(240, 125, 207) 0%, rgb(171, 117, 236) 100%);
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.3);
}


header button span  {
    color: white;
}
    
    
    












