:root { 
    --main-bg-purple: #9356DC;
    --main-bg-pink: #FF79DA;
    --main-bg-green: #99E2D0;
    --main-bg-gray: #f2f2f2;
}

*, ::before, ::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: roboto,sans-serif;
}

header i {
    position: absolute;
    top: 2%;
    transform: translateY(50%);
    color: black;
}

header a {
    padding: 0px 20px;
}
#home img {
	width: 45%;
	height: 24px;
	margin-left: 16%;
	margin-top: 20px;
}

header img {
	width: 100%;
	height: 210px;
	margin-top: 10px;
    background-repeat: no-repeat;
    object-fit: cover;
}


main {
	background: #f2f2f2;
	border-radius: 35px 35px 0 0;
	height: 1180px;
	margin-top: -45px;
	position: relative;
}

h1 {
	font-family: Shrikhand;
	height: 19px;
	margin-top: 28px;
	margin-left: 15px;
}

#entrées h2 {
	width: 40px;
	height: 27px;
    margin-bottom: 10px;
	margin-top: 45px;
	font-size: medium;
	border-bottom: solid 3px #99e2d0;
	opacity: 0.7;
}

#entrées i {
	font-size: 24px;
	display: flex;
	justify-content: end;
	margin-right: 14px;
	line-height: 0px;
	/* mix-blend-mode: lighten; */
}
#entrées :hover i {
	background-color: rgb(255, 0, 255);
}

#entrées div i {
	font-size: 24px;
	transform: scale(1);
    /* transition-property: transform; */
    transition-duration: 1.5s;
	/* transition: transform 450ms, background-color 300ms 150ms; */
	background-color: rgb(255, 0, 255);
}
#entrées div:hover i {
    transform: scale(1);
	background-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
	/* transform-origin: center center; */
}

#entrées {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 0px 8px;
	background: #f2f2f2;
	border-radius: 35px 35px 0 0;
}

#entrées .card {
	width: 100%;
	height: 70px;
	margin: 8px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 20px;
	padding: 15px;
	background: white;
	cursor: pointer;
}

#entrées h3 {
	font-size: medium;
	opacity: 0.8;
	margin: 1px;
}

#entrées p {
	margin: 0;
	font-size: smaller;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0.6;
	margin-bottom: -16px;
}
b {
	display: flex;
	justify-content: flex-end;
	font-size: smaller;
	opacity: 0.7;
}


#plats h2 {
	width: 40px;
	height: 27px;
	font-size: medium;
	border-bottom: solid 3px #99e2d0;
    margin-bottom: 10px;
	opacity: 0.7;
}


#plats i {
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: end;
	/* mix-blend-mode: lighten; */
	margin-right: 20px;
	line-height: 2px;
	
}

#plats {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    background: #f2f2f2;
    margin-top: 35px;
}
#plats .card {
	width: 100%;
	height: 70px;
	margin: 8px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 20px;
	padding: 15px;
    background: white;
	cursor: pointer;
}

#plats h3 {
	font-size: medium;
	opacity: 0.8;
	margin: 1px;
}

#plats p {
	margin: 0;
	font-size: smaller;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0.6;
	margin-bottom: -16px;
}


#desserts h2 {
	width: 40px;
	height: 27px;
	font-size: medium;
	border-bottom: solid 3px #99e2d0;
    margin-bottom: 10px;
	opacity: 0.7;
}

#desserts i {
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: end;
	/* mix-blend-mode: lighten; */
	margin-right: 20px;
	line-height: 2px;
	
}

#desserts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    background: #f2f2f2;
    margin-top: 35px;
}
#desserts .card {
	width: 100%;
	height: 70px;
	margin: 8px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 20px;
	padding: 15px;
    background: white;
	cursor: pointer;
}

#desserts h3 {
	font-size: medium;
	opacity: 0.8;
	margin: 1px;
}

#desserts p {
	margin: 0;
	font-size: smaller;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0.6;
	margin-bottom: -16px;
}


button {
    width: 55%;
    height: 45px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin: 35px 70px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
	background: linear-gradient(176deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
}
button:hover {
	background: linear-gradient(176deg, rgb(173, 120, 236) 0%, rgb(240, 125, 207) 0%, rgb(171, 117, 236) 100%);
	box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.3);
}
button span  {
    color: white;
}


footer {
	width: 100%;
	height: 170px;
	font-size: small;
	padding: 20px 20px 0;
	background-color: #312e2e;
	
    display: flex;
	flex-direction: column;
}

 nav {
    width: 100%;
    height: 135px;
}

footer h2 {
    margin-bottom: 13px;
    font-size: 15px;
    font-family: Shrikhand;
    color: #fff;
}

ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer i {
	color: rgb(255, 255, 255);
	padding: 0px 5px 0 0;
	font-size: 12px;
}

	@media (min-width: 768px) {
		
		#home img {
			width: 45%;
			height: 60px;
			margin-left: 21%;
		}

		header i {
			top: 3%;
			font-size: 30px;
		}

		h1 {font-size: xx-large;}

		main {height: 1200px;}

		#entrées i {font-size: xx-large;}

		#entrées h2 {font-size: larger;}

		#entrées h3 {font-size: larger;}

		#entrées p {font-size: large;}
		
		b {font-size: larger;}

		#plats i {font-size: xx-large;}

		#plats h2 {font-size: larger;}

		#plats h3 {font-size: larger;}

		#plats p {font-size: large;}

		#desserts i {font-size: xx-large;}

		#desserts h2 {font-size: larger;}

		#desserts h3 {font-size: larger;}

		#desserts p {font-size: large;}

		button {
			width: 40%;
			height: 68px;
			margin: 35px 225px;
		}

		footer {height: 150px;}

		footer h2 {
			font-size: 35px;
			margin-left: 248px;
		}

		ul {
			gap: 50px;
			font-size: large;
			flex-direction: initial;
		}
	}


			
		
			
	
			
		


	